<div class="card container">
    <ng-container>
        <div class="row">

            <div class="col-md-2">
                <img src="assets/imgs/{{contact.imgPers}}.jpg" width="70" height="70">
            </div>
            <div class="col-md-2">
                <img src="assets/imgs/{{contact.imgCountry}}.png" width="70" height="70">
            </div>
        </div>
        <br>
        <div class="card" style="width: 100">
            <div class="row">
                <div class="col-md-4">
                    {{contact.name}} from {{contact.Country}}<br>
                    <div class="glyphicon glyphicon-earphone">: {{contact.Tel}}</div> <br> E-Mail: guesmiabdessalem@yahoo.fr <br> Skype : guesmi.abdou<br>

                    <div class="btn-github">
                        https://github.com/abdessalem-guesmi</div> <br>
                </div>
            </div>
        </div>
    </ng-container>
</div>