<div class="container">
    <nav class="navbar navbar-nav ">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>
                    <a [routerLink]=" ['/about']" routerLink="acitve">

                    </a>
                </li>
                <li><a [routerLink]="['/films']" routerLink="acitve" class="uk-text-danger">Films</a></li>

                <li><a [routerLink]=" ['/about']" routerLink="acitve">About</a></li>
            </ul>
        </div>

    </nav>
</div>
<router-outlet></router-outlet>